
<div class="d-flex flex-column justify-content-between align-items-center">
        <!-----------------------------------encabezado------------------------------------->
        <section id="encabezado_market">
                <div id="allow">allow yourself</div>
                <div id="grow">to grow <span class="allow">.</span></div>
                <div id="lets" class="">Let's create some magic today.</div>
        </section>

        <!-- ---------------------------aca termina el encabezado y empieza el cuerpo------------------------------------ -->
        <div class="text-center mt-3 d-flex justify-content-between w-100">
            <div></div>
            <h3 id="role-name">What are you working today?</h3>
            <a href="/market/formularios"><img src="/images/lista_tipificacion.svg" alt=""></a>
        </div>
        <!-----------------------------aca termina el titulo del cuerpo y empieza el cuerpo------------------------------------ -->

        <div id="contenedor_botones_market" class="d-flex justify-content-between flex-column">
            <div id="imagen_superior" class="h-50"></div>
            <div class="h-50 d-flex flex-column align-items-center" id="market-bottom">
                <a href="/market/crear-campana" id="ruedita"> 
                    <img src="/images/agregarservicios.svg" class="img-fluid m-0">   
                </a>
                <p class="fs-5 m-0">Nueva</p>
                <p class="fs-3 m-0">Campaña</p>
                <a href="/market/crear-campana" class="fs-3 mt-3" id="start_creating">Star Creating</a>
            </div>
        </div>