
    <a href="/campaign/campanas" class="btn btn-outline-danger">Volver</a>
    <div class="d-flex align-items-center flex-column" id="cont-ag-reg">
    <div class="d-flex flex-column align-items-center w-75 pb-5" id="f-ag-reg">
        <div id="añ-ag-reg" class="p-2 fs-1 fw-bold">Añadir Registro</div>

        <form action="" class="d-flex flex-column w-75 p-5">
            <label for="cam-ag-reg">Campaña:</label>
            <select name="" id="cam-ag-reg">
                <option value="">Seleccione Campaña</option>
                <option value="">Campaña1</option>
                <option value="">Campaña2</option>
                <option value="">Campaña3</option>
            </select>

            <div class="d-flex flex-column">
                <p class="mt-3">Archivo CSV</p>
                <div class="mt-0 d-flex justify-content-start align-items-center">
                <button class="btn btn-warning">CARGAR</button>
                <div class="ms-3">Cargue la base de datos aca</div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-warning mt-4 btn-lg">Agregar</button>
            <a href="/campaign/campanas" type="submit" class="btn btn-danger mt-4 btn-lg">Cancelar</a>
        </form>
    </div>
</div>
