
    <a href="/campaign/campanas" class="btn btn-outline-danger">Volver</a>
    <div class="d-flex align-items-center flex-column" id="cont-ag-reg">
    <div class="d-flex flex-column align-items-center w-75 pb-1" id="f-ag-reg">
        <div id="añ-ag-reg" class="fs-1 fw-bold">Modificar Campaña</div>
        <form action="" class="d-flex flex-column w-75 p-5">
            <table class="text-center" id="tb-cr-ca">
                <tr>
                    <td>Nombre:</td>
                    <td><input type="text" id="nm-ag-reg"></td>
                </tr>
                <tr class="pt-2 pb-2">
                    <td>Base de datos:</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                        <button class="btn btn-warning">Cargar</button>
                        <div>Seleccione el archivo BBDD</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Formulario Venta:</td>
                    <td>
                        <select name="" id="">
                            <option value="">Seleccione</option>
                            <option value="">Formulario Venta1</option>
                            <option value="">Formulario Venta2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Formulario No venta:</td>
                    <td>
                        <select name="" id="">
                            <option value="">Seleccione</option>
                            <option value="">Formulario No Venta1</option>
                            <option value="">Formulario No Venta2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Formulario No Contesta:</td>
                    <td>
                        <select name="" id="">
                            <option value="">Seleccione</option>
                            <option value="">Formulario No Contesta1</option>
                            <option value="">Formulario No Contesta2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Formulario En Proceso:</td>
                    <td>
                        <select name="" id="">
                            <option value="">Seleccione</option>
                            <option value="">Formulario En Proceso1</option>
                            <option value="">Formulario En Proceso2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Formulario Volver a Llamar</td>
                    <td>
                        <select name="" id="">
                            <option value="">Seleccione</option>
                            <option value="">Formulario Volver a Llamar1</option>
                            <option value="">Formulario Volver a Llamar2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Asignar Agentes:</td>
                    <td>
                        <select name="" id="">
                            <option value="">Seleccione</option>
                            <option value="">Brandon Julian Acero Valencia</option>
                            <option value="">Agente2</option>
                            <option value="">Agente3</option>
                            <option value="">Agente4</option>
                            <option value="">Agente5</option>
                        </select>
                        <img src="/images/añadiragente.svg" alt="" class="img-fluid">
                    </td>
                </tr>
            </table>
            <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-warning btn-lg w-50 me-3">Modificar</button>
            <a href="/campaign/campanas" type="submit" class="btn btn-danger btn-lg w-50">Cancelar</a>
            </div>
        </form>
    </div>
</div>
