
    <a href="/campaign/campanas" class="btn btn-outline-danger">Volver</a>
    <div class="d-flex align-items-center flex-column mt-3 p-2" id="cont-ag-reg">
        <div class="d-flex flex-column align-items-center w-75 pb-1" id="f-ag-reg">
            <div id="añ-ag-reg" class="fs-1 fw-bold">Volver a Llamar</div>
            <table class="w-75 text-center">
                <tr>
                    <td>Nombre1</td>
                    <td>13/02/2025</td>
                    <td>04:00 pm</td>
                    <td class="p-3"><img src="/images/iniciargestion.svg" alt="" class="img-fluid"></td>
                </tr>
                <tr>
                    <td>Nombre1</td>
                    <td>13/02/2025</td>
                    <td>04:00 pm</td>
                    <td class="p-3"><img src="/images/iniciargestion.svg" alt="" class="img-fluid"></td>
                </tr>
                <tr>
                    <td>Nombre1</td>
                    <td>13/02/2025</td>
                    <td>04:00 pm</td>
                    <td class="p-3"><img src="/images/iniciargestion.svg" alt="" class="img-fluid"></td>
                </tr>
            </table>

        </div>
    </div>
