
    <div class="d-flex justify-content-between align-items-center">
        <a href="/agents/magicians" class="btn btn-outline-danger">Volver</a>
        <div>
            <label for="inicio">Desde:</label>
            <input type="date" id="inicio">
            <label for="fin">Hasta:</label>
            <input type="date" id="fin">
        </div>
        <div>
            <label for="">Filtro Campaña:</label>
            <select name="" id="">
                <option value="">Seleccione una opcion</option>
                <option value="">zurich seguros</option>
                <option value="">mapfres seguros</option>
            </select>    
        </div>
        <button class="btn btn-secondary" type="button">Aceptar</button>

    </div>

    <div class="d-flex align-items-center flex-column mt-3 p-2" id="cont-ag-reg">
        <div class="d-flex flex-column align-items-center w-100 pb-1 h-100" id="f-ag-reg">
            <div id="añ-ag-reg" class="fs-3 fw-bold">Resumen Campaña</div>
            <div class=" w-100 text-center d-flex justify-content-around align-items-center p-4" style="height: 60vh; flex-wrap: wrap;">
                <div class="" style="width: 47%; height:45%; background-color:white; border-radius:25px;">Gestion:</div>
                <div class="" style="width: 47%; height:45%; background-color:white; border-radius:25px;">Ventas:</div>
                <div class="" style="width: 47%; height:45%; background-color:white; border-radius:25px;">Contactabilidad:</div>
                <div class="" style="width: 47%; height:45%; background-color:white; border-radius:25px;">Efectividad:</div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center flex-column mt-3 p-2" id="cont-ag-reg">
        <div class="d-flex flex-column align-items-center w-100 pb-1 h-100" id="f-ag-reg">
            <div id="añ-ag-reg" class="fs-3 fw-bold">Resumen Campaña</div>
            <div class=" w-100 text-center d-flex flex-column align-items-center p-2 pb-4 gap-2" style="max-height: 20vh;">
                <table class="text-center mt-3" style="margin: 0 auto; width: 90%;">
                    <thead>
                        <tr>
                            <th>Campaña</th>
                            <th>Registros</th>
                            <th>Gestionados</th>
                            <th>% Gestion</th>
                            <th>Contactados</th>
                            <th>% Contactabilidad</th>
                            <th>Ventas</th>
                            <th>% Efectividad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pt-2">Zurich Autos</td>
                            <td class="pt-2">100</td>
                            <td class="pt-2">100</td>
                            <td class="pt-2">100%</td>
                            <td class="pt-2">75</td>
                            <td class="pt-2">75%</td>
                            <td class="pt-2">15</td>
                            <td class="pt-2">15%</td>
                        </tr>
                    </tbody>
                    <table class="text-center mt-2" style="margin: 0 auto; width: 90%;">
                    <thead>
                        <tr>
                            <th>07:00</th>
                            <th>08:00</th>
                            <th>09:00</th>
                            <th>10:00</th>
                            <th>11:00</th>
                            <th>12:00</th>
                            <th>13:00</th>
                            <th>14:00</th>
                            <th>15:00</th>
                            <th>16:00</th>
                            <th>17:00</th>
                            <th>18:00</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pt-2">5</td>
                            <td class="pt-2">5</td>
                            <td class="pt-2">5</td>
                            <td class="pt-2">5</td>
                            <td class="pt-2">5</td>
                            <td class="pt-2">5</td>
                            <td class="pt-2">5</td>
                            <td class="pt-2">5</td>
                            <td class="pt-2">5</td>
                            <td class="pt-2">5</td>
                            <td class="pt-2">5</td>
                            <td class="pt-2">5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
