
    <a href="/campaigns/campañas" class="btn btn-outline-danger">Volver</a>
    <div class="d-flex align-items-center flex-column mt-3 p-2" id="cont-ag-reg">
        <div class="d-flex flex-column align-items-center w-75 pb-1" id="f-ag-reg">
            <div id="añ-ag-reg" class="fs-1 fw-bold">Agentes asignados</div>
            <div class="mt-3 w-75 text-center">
                <table class="w-100 text-center p-2" id="tb-ag">
                    <tr>
                        <td colspan="2"> <!-- Ahora ocupa dos columnas -->
                            <div class="d-flex justify-content-around align-items-center">
                                <span class="fs-4 fw-bold">Agregar agente</span>
                                <input type="text" id="ag-ag-as">
                                <img src="/images/añadiragente.svg" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-50">Agente1</td>
                        <td class="w-50"><img src="/images/quitaragente.svg" alt=""></td>
                    </tr>
                    <tr>
                        <td class="w-50">Agente2</td>
                        <td class="w-50"><img src="/images/quitaragente.svg" alt=""></td>
                    </tr>
                    <tr>
                        <td class="w-50">Agente3</td>
                        <td class="w-50"><img src="/images/quitaragente.svg" alt=""></td>
                    </tr>
                </table>
                <div class="d-flex justify-content-between p-3 gap-3">
            <a href="/campaigns/campañas" class="btn btn-success w-50">Guardar</a>
            <a href="/campaigns/campañas" class="btn btn-danger w-50">Cancelar</a>
        </div>
            </div>
        </div>

        </div>
    </div>
