<div id="izq" class="d-flex flex-column text-left col pe-5">
    <img src="/images/we_text_logo.svg" alt="imagen_logo" class="img-fluid w-50">
    <p class="">Welcomedly te ayuda a comunicarte con tus clientes de manera eficiente.</p>
    <img src="/images/we_tasks.png" alt="" class="img-fluid w-80">
</div>