<footer class="text-center w-100 p-3">
    <div class="footer-links">
        <a href="#">Inglés</a>
        <a href="#">Términos y Condiciones</a>
        <a href="#">Políticas de privacidad</a>
        <a href="#">Acceso Tribu</a>
        <a href="#">LinkedIn</a>
        <a href="#">Instagram</a>
    </div>
    <p class="footer-text">welcomedly © 2024</p>
</footer>